{#
Projects List Component
Displays recent projects with status

Parameters:
  - list_class: CSS class for the projects list container
  - title: Title for the projects section (default: 'Recent Projects')
  - max_items: Maximum number of projects to display (default: 5)
#}
{% macro projects_list(list_class='', title='Recent Projects', max_items=5) %}
<div class="projects-section">
    <h3>{{ title }}</h3>
    <div id="projects-list" class="{{ list_class }}">
        <p class="no-projects">Loading...</p>
    </div>
</div>
{% endmacro %}
